Repository cse112-sp20/CalamariCrew, pull requests merged in 2020-06, with the labels that each got.

#64 Fixed github username bug
  coverage/coverage-summary.json
  root/src/js/main.js
  root/src/js/main_page.js
Labels: source

#66 Created tests for issues.js and modified code coverage to upload to CodeClimate
  .github/workflows/pipeline.yml
  .gitignore
  README.md
  babel.config.js
  coverage/coverage-summary.json
  coverage/lcov.info
  package-lock.json
  package.json
  root/html/index.html
  root/html/setup/raptor_name.html
  root/src/js/github/issues.js
  root/src/js/user_settings.js
  scripts/code_coverage.js
  tests/issues.test.js
  tests/user_settings.test.js
Labels: actions, source

#65 Visual rework
  root/css/animations.css
  root/css/app.css
  root/css/auth.css
  root/css/choose_repo.css
  root/css/fonts.css
  root/css/index.css
  root/css/raptor_name.css
  root/css/teams.css
  root/css/user_main.css
  root/css/user_settings.css
  root/fonts/BAHNSCHRIFT.woff
  root/fonts/Cayetano-Bold.woff
  root/fonts/Cayetano-Bold.woff2
  root/fonts/CayetanoRound-Bold.woff
  root/fonts/CayetanoRound-Bold.woff2
  root/html/index.html
  root/html/setup/auth.html
  root/html/setup/choose_repo.html
  root/html/setup/raptor_name.html
  root/html/setup/succ_auth.html
  root/html/teams.html
  root/html/user_main.html
  root/html/user_settings.html
  root/media/gifs/Meteor.gif
  root/media/icons/BackArrow.png
  root/media/icons/Home.png
  root/media/icons/Settings.png
  root/media/icons/Teams.png
  root/media/runningRaptor/Logo.png
  root/media/runningRaptor/Spritesheet_Background2.png
  root/media/runningRaptor/Spritesheet_Background3.png
  root/src/js/main.js
  root/src/js/main_page.js
  root/src/js/remove_all.js
  root/src/js/user_settings.js
  root/src/js/validation.js
  tests/user_settings.test.js
Labels: High, help wanted, media

#67 Raptor Name Filter Test
  coverage/coverage-summary.json
  coverage/lcov.info
  package-lock.json
  package.json
  root/src/js/mock-request/mock-request.js
  root/src/js/raptor_name.js
  tests/raptor_name.test.js
Labels: source

#69 Font changes
  root/css/index.css
  root/css/user_settings.css
  root/html/index.html
  root/html/setup/auth.html
  root/html/setup/choose_repo.html
  root/html/setup/raptor_name.html
  root/html/user_settings.html
  root/media/icons/Textbox.png
  root/src/js/github/issues.js
  root/src/js/github/repo.js
  root/src/js/main_page.js
Labels: actions, media, source

#70 polished the checkbox a bit
  root/css/index.css
Labels: Low

#72 Name change unit test
  coverage/coverage-summary.json
  coverage/lcov.info
  package.json
  root/src/js/raptor_name.js
  tests/raptor_name.test.js
Labels: source

#73 Modify remove_all.js to be testable and created the test
  coverage/coverage-summary.json
  coverage/lcov.info
  root/src/js/remove_all.js
  tests/remove_all.test.js
Labels: source

#78 Velocity rework
  .codeclimate.yml
  Official.zip
  coverage/coverage-summary.json
  coverage/lcov.info
  root/css/user_settings.css
  root/html/index.html
  root/html/oauth2.html
  root/html/teams.html
  root/src/js/main_page.js
  root/src/js/raptor_name.js
  root/src/js/remove_all.js
  tests/main_page.test.js
Labels: source

#74 Create new pipeline for our selenium tests
  .github/workflows/selenium.yml
  .gitignore
  package-lock.json
  package.json
Labels: actions

#79 fix error msg
  coverage/coverage-summary.json
  coverage/lcov.info
  root/css/user_settings.css
  root/html/user_settings.html
  root/src/js/main_page.js
  tests/main_page.test.js
Labels: source

#82 Remove unused files
  root/src/js/mock-request/mock-request.js
  root/src/js/validation.js
Labels: source

#84 Main.js unit tests
  coverage/coverage-summary.json
  coverage/lcov.info
  package-lock.json
  package.json
  root/html/setup/auth.html
  root/src/js/main.js
  tests/main.test.js
  tests/user_settings.test.js
Labels: source

#88 Repo Refactoring
  coverage/coverage-summary.json
  coverage/lcov.info
  root/html/setup/choose_repo.html
  root/html/user_settings.html
  root/src/js/github/repo.js
  tests/repo.test.js
Labels: source

#89 To Master
  README.md
  coverage/coverage-summary.json
  coverage/lcov.info
  package-lock.json
  package.json
  root/html/setup/auth.html
  root/html/setup/choose_repo.html
  root/html/user_settings.html
  root/src/js/github/repo.js
  root/src/js/main.js
  tests/main.test.js
  tests/repo.test.js
  tests/user_settings.test.js
Labels: source
