Repository cse112-sp20/CalamariCrew, pull requests merged in 2020-05, with the labels that each got.

#57 Removed a tab from Settings and change the General Tab look to resemble wireframe
  root/css/user_settings.css
  root/html/user_settings.html
  root/src/js/user_settings.js
Labels: source

#56 Name Filter
  package-lock.json
  package.json
  root/html/setup/raptor_name.html
  root/src/js/raptor_name.js
Labels: media, source

#58 Created local pipeline and added code quality checks on pull requests
  .codeclimate.yml
  .github/workflows/pipeline.yml
  .gitignore
  package.json
  root/css/user_main.css
  root/html/teams.html
  root/html/user_main.html
  scripts/code_coverage.js
  scripts/local_pipeline.sh
Labels: actions

#55 Checkoff list
  root/css/index.css
  root/src/js/github/issues.js
Labels: source

#60 user_settings.js unit tests
  coverage/coverage-summary.json
  manifest.json
  root/css/user_settings.css
  root/html/user_main.html
  root/html/user_settings.html
  root/src/js/main_page.js
  root/src/js/unit-tests/user_settings.test.js
  root/src/js/user_settings.js
Labels: source

#62 Get velocity and remove backend
  Official.zip
  manifest.json
  package-lock.json
  package.json
  root/backend/app.js
  root/backend/views/signedInSuccess.ejs
  root/css/user_select_repo.css
  root/html/setup/auth.html
  root/html/setup/choose_repo.html
  root/src/js/main.js
  root/src/js/main_page.js
  root/src/js/raptor_name.js
  root/src/js/remove_all.js
  root/src/js/validation.js
  root/src/libs/chrome-ex-oauth2/injection.js
  root/src/libs/chrome-ex-oauth2/oauth2.js
Labels: source
